img {
    height: 300px;
    width: 300px;
    padding: 10px;
}


body {
    margin: auto;
}

h1 {
    font-size: xx-large;
    background-color: #D02F3D;
    padding: 20px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
}

p {
    font-size: 25px;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    float: left;
    background-color: #D0C22F;
    margin: 10px;
    width: 30%;
    height: 600px;

}

body {
    background-color: #D0722F;
}
footer {
    clear: both;
    background-color: #D02F3D;
    padding: 25px;
}

select {
    /* display: block; */
    margin: auto;
    font-size: large;
    background-color: aqua;
    padding: 10px;

}

#nav {
    display: flex;
    justify-content:start;

}

li {
    display: inline-block;
    font-size: 25px;
    background-color: cyan;
    padding: 0 20px;
    margin: 0 10px;
    cursor: pointer;
}

